@charset "UTF-8";
/** utils **/
/** couleurs **/
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap';
@media screen and (min-width: 992px) {
  /** fonctionnement **/
  .fonctionnement ol {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  .fonctionnement li {
    width: 27%;
  }
  /** restaurant **/
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fonctionnement {
    display: flex;
  }
  .restaurant_list {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant_list article {
    max-width: 49%;
  }
  /** menu **/
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .menu_categorie {
    width: 30%;
  }
  /** footer **/
  .footer {
    flex-direction: row;
  }
  .footer h3 {
    justify-content: center;
    display: flex;
  }
  .footer_list {
    display: flex;
    justify-content: space-evenly;
  }
}
/** layout **/
body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 37px;
  position: relative;
  box-shadow: 0px 4px 8px rgb(197, 197, 197);
}
.header .header_logo {
  height: 32px;
}
.header a img {
  position: absolute;
  top: 11px;
  left: 86px;
  padding-top: 10px;
}
.header a .fa-solid {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 20px;
  color: black;
}

body {
  margin: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 53, 53);
  color: white;
}
.footer h3 {
  font-weight: 100;
  font-size: 22px;
  padding-left: 16px;
  font-family: "Shrikhand";
  margin: 22px 0px 5px 0px;
}
.footer .footer_list {
  list-style-type: none;
  padding-left: 16px;
}
.footer .footer_list li {
  padding: 4px;
}
.footer .footer_list a {
  text-decoration: none;
  color: white;
}
.footer .footer_list .fa-solid {
  padding-right: 7px;
}

/** base **/
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
/** page **/
body {
  margin: 0px;
  font-family: "Roboto";
}

/** localisation **/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f1eded;
}
.localisation .fa-location-dot {
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.localisation .localisation_text {
  padding-left: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f1eded;
  color: black;
  width: 220px;
}

/** présentation **/
.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 241, 250);
  padding: 20px 16px 50px 20px;
}
.presentation .presentation_text {
  text-align: center;
  padding-bottom: 16px;
}
.presentation .presentation_text h2 {
  font-weight: bold;
  font-size: 25px;
}
.presentation .presentation_text p {
  font-size: 16px;
}
.presentation .presentation_btn {
  border-radius: 35px 35px;
  padding: 16px 30px 16px 30px;
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);
}
.presentation .presentation_btn:hover {
  box-shadow: 5px 5px 10px rgba(49, 48, 48, 0.5);
}

/** fonctionnement **/
.fonctionnement {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement_title {
  font-size: 22px;
  font-weight: 800;
}
.fonctionnement .fonctionnement_list {
  width: 100%;
  padding-bottom: 20px;
}
.fonctionnement ol {
  counter-reset: steps;
  padding-left: 16px;
}
.fonctionnement li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  border-radius: 20px 20px;
  box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);
  margin: 25px;
  background: rgb(245, 241, 250);
}
.fonctionnement li:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "" counter(steps);
  counter-increment: steps;
  position: absolute;
  background-color: #9356DC;
  top: 0;
  left: 0;
  transform: translateY(50%);
  border-radius: 16px 16px;
  width: 28px;
  height: 28px;
  color: white;
  margin-left: -16px;
}
.fonctionnement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.fonctionnement i {
  padding-right: 30px;
  color: gray;
}
.fonctionnement .fa-mobile-screen-button {
  padding-left: 16px;
}
.fonctionnement li:hover {
  background-color: #f7f2fc;
}
.fonctionnement li:hover i {
  color: #9356DC;
}

/** restaurant **/
.restaurant {
  padding: 60px 16px 50px 16px;
  background: rgb(245, 241, 250);
}
.restaurant .restaurant_h3 {
  font-weight: 800;
  font-size: 22px;
  width: 90%;
}
.restaurant .restaurant_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.restaurant .restaurant_list a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.restaurant .restaurant_list article {
  display: flex;
  overflow: hidden;
  flex: 1 0 100%;
  flex-direction: column;
  border-radius: 16px 16px;
  box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);
  position: relative;
  background: white;
}
.restaurant .restaurant_list article .new {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 5%;
}
.restaurant .restaurant_list .restaurant_description {
  display: flex;
  width: 100%;
  height: 80px;
}
.restaurant .restaurant_list img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.restaurant .restaurant_list .restaurant_name {
  width: 80%;
  padding: 16px 0px 16px 14px;
}
.restaurant .restaurant_list .restaurant_name h4 {
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
}
.restaurant .restaurant_list .restaurant_name p {
  margin: 0px;
}
.restaurant .restaurant_list .restaurant_heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  width: 60px;
  position: relative;
  transition: 0.5s;
}
.restaurant .restaurant_list .fa-heart:hover {
  position: absolute;
  font-weight: 800;
  background-image: linear-gradient(0turn, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  animation: heart_animation 1.5s;
}
@keyframes heart_animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 40%;
  }
  70% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0px;
  font-family: "Roboto";
}

.heading_img {
  width: 100%;
  height: 220px;
}
.heading_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_menu {
  display: flex;
  border-radius: 25px 25px 0px 0px;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #f1eded;
  margin-top: -25px;
  padding-bottom: 40px;
  /** bouton commander **/
  /** fin bouton commander **/
}
.container_menu .btn {
  padding: 16px 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 117px;
  color: white;
  background: linear-gradient(0.47turn, #FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);
}
.container_menu .btn:hover {
  box-shadow: 5px 5px 10px rgba(49, 48, 48, 0.5);
}
.container_menu .restaurant_heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  width: 60px;
  position: relative;
  transition: 0.5s;
}
.container_menu .fa-heart:hover {
  position: absolute;
  font-weight: 800;
  background-image: linear-gradient(0turn, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  animation: heart_animation 1.5s;
}
@keyframes heart_animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 40%;
  }
  70% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}

.restaurant_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.restaurant_title h2 {
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 28px;
}

/** menu **/
.menu_categorie {
  padding: 16px;
}
.menu_categorie h3 {
  font-weight: 300;
}
.menu_categorie .horizontal_line {
  flex-wrap: wrap;
  display: flex;
  border: 2px solid #99E2D0;
  width: 40px;
  margin-top: 5px;
}

.menu_card {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);
  height: 66px;
  background: white;
  margin-bottom: 16px;
  animation: item_delay 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transform: scale(0);
}

.delay_1 {
  animation-delay: 200ms;
}

.delay_2 {
  animation-delay: 300ms;
}

.delay_3 {
  animation-delay: 400ms;
}

.delay_4 {
  animation-delay: 500ms;
}

@keyframes item_delay {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.card_content {
  padding: 5px 15px;
  align-self: center;
  overflow: hidden;
}
.card_content h4 {
  font-size: 16px;
  font-weight: bold;
}
.card_content p {
  font-size: 14px;
}

.card_content h4,
.card_content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding-bottom: 5px;
}

.card_price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  gap: 15px;
  margin-right: -67px;
  transition: all 0.5s ease-in-out;
}

.card_price span {
  font-weight: 700;
  padding-top: 10px;
  align-self: center;
}

.card_check {
  height: 66px;
  padding: 0 19px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
}

.fa-circle-check {
  align-self: center;
  transform: rotate(180deg);
  transition: all 0.7s ease-in-out;
  color: white;
  font-size: 28px;
}

.menu_card:hover .card_price {
  margin-right: 0;
}

.menu_card:hover .fa-circle-check {
  margin-right: 0;
  transform: rotate(180deg);
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1;
  animation: opening;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 3s;
}

.body {
  overflow: hidden;
}

.loader_ul {
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
}

.loader_li {
  list-style: none;
  position: relative;
  width: 120px;
  height: 120px;
  background: white;
  margin: 0 20px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.5s;
}

.bi {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 48px;
  color: #9356DC;
  transition: 0.5s;
}

.loader_li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #99E2D0;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.5s;
  opacity: 1;
}

.loader_li:before {
  opacity: 1;
  transform: scale(0.8);
}

.loader_li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.5s;
  opacity: 1;
  border: 2px dashed #FF79DA;
  box-sizing: border-box;
  animation: animate 5s linear infinite;
}

@keyframes opening {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes animate {
  100% {
    transform: scale(2) rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
