/** utils **/
/** couleurs **/
/** layout **/
body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 8px rgb(197, 197, 197);
}
.header .header__logo {
  height: 35px;
}

/** base **/
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
body {
  font-family: "Roboto-Regular";
}

h1 {
  font-family: "Shrikhand";
  font-size: 26px;
}

h2 {
  font-family: "Roboto-Black";
  font-size: 26px;
}

h3 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

/** page **/
body {
  margin: 0px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f1eded;
}
.localisation .fa-location-dot {
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.localisation .localisation__text {
  padding-left: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f1eded;
  color: black;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 241, 250);
  padding: 20px 16px 50px 20px;
}
.presentation .presentation__text {
  text-align: center;
  padding-bottom: 16px;
}
.presentation .presentation__text h1 {
  font-weight: bold;
}
.presentation .presentation__btn {
  border-radius: 35px 35px;
  padding: 16px 30px 16px 30px;
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
}

.fonctionnement {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}
.fonctionnement ol {
  counter-reset: steps;
  padding-left: 16px;
  gap: 16px;
}
.fonctionnement li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 60px;
  border-radius: 20px 20px;
  box-shadow: 1px 2px 5px rgb(216, 215, 215);
}
.fonctionnement li:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "" counter(steps);
  counter-increment: steps;
  position: absolute;
  background-color: #9356DC;
  top: 0;
  left: 0;
  transform: translateY(50%);
  border-radius: 16px 16px;
  width: 28px;
  height: 28px;
  color: white;
  margin-left: -16px;
}
.fonctionnement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.fonctionnement i {
  padding-right: 30px;
  color: gray;
}
.fonctionnement .fa-mobile-screen-button {
  padding-left: 16px;
}

.restaurant {
  padding: 16px;
}
.restaurant .restaurant__title {
  font-weight: 800;
}
.restaurant .restaurant__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.restaurant .restaurant__list article {
  height: 240px;
  display: flex;
  overflow: hidden;
  flex: 1 0 100%;
  flex-direction: column;
  border-radius: 16px 16px;
  box-shadow: 1px 2px 5px rgb(216, 215, 215);
}
.restaurant .restaurant__list img {
  height: 230px;
  width: 100%;
}
.restaurant .restaurant__list .fa-heart {
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
