body  {
    margin: 0px;
}

.footer {
  display: flex;  
  flex-direction: column;
  background-color: rgb(53, 53, 53);
color: white;
h3 {
    font-weight: bold;
    font-size: 28x;
    padding-left: 16px;
}
.footer_list {
    list-style-type: none;
    padding-left: 16px;

    
    li  {
        padding: 4px;
    }

    a {
        text-decoration: none; 
        color: white;
      
    }

    .fa-solid {
        padding-right: 7px;
      
    }
}

}