@font-face {
    font-family: 'Shrikhand';
    src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url("fonts/Roboto/Roboto-Black.ttf") format('truetype');
}

body {
    font-family: 'Roboto-Regular';
}

h1 {
    font-family: 'Shrikhand';
    font-size: 26px;
}

h2 {
    font-family: 'Roboto-Black';
    font-size: 26px;
}

h3 {
    font-family: 'Shrikhand';
    font-weight: lighter;
}