body {
    margin: 0px;
}

.localisation {
    @include flex-center;
    height: 60px;
    background-color: $lightgray;

    .fa-location-dot {
        padding-right: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    .localisation_text {
        padding-left: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        background-color: $lightgray;
        color: black;
    }
}

.presentation {
    @include flex-center;
    flex-direction: column;
    background-color: rgb(245, 241, 250);
    padding: 20px 16px 50px 20px;

    .presentation_text {
        text-align: center;
        padding-bottom: 16px;

        h1 {
            font-weight: bold;
        }
    }

    .presentation_btn {
        border-radius: 35px 35px;
        padding: 16px 30px 16px 30px;
        text-decoration: none;
        color: white;
        background: linear-gradient(0deg, $primarycolor, $secondarycolor);
    }
}

.fonctionnement {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;

    ol {

        counter-reset: steps;
        padding-left: 16px;
        gap: 16px;
    }

    li {
        @include flex-center;
        position: relative;
        width: 350px;
        height: 60px;
        border-radius: 20px 20px;
        box-shadow: 1px 2px 5px rgb(216, 215, 215);
    }

    li:before {
        @include flex-center;
        content: "" counter(steps);
        counter-increment: steps;
        position: absolute;
        background-color: $primarycolor;
        top: 0;
        left: 0;
        transform: translateY(50%);
        border-radius: 16px 16px;
        width: 28px;
        height: 28px;
        color: white;
        margin-left: -16px;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    i {
        padding-right: 30px;
        color: gray;
    }

    .fa-mobile-screen-button {
        padding-left: 16px;
    }
}

.restaurant {
    padding: 16px;

    .restaurant_title {
        font-weight: 800;
    }

    .restaurant_list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;

        article {
            height: 240px;
            display: flex;
            overflow: hidden;
            flex: 1 0 100%;
            flex-direction: column;
            border-radius: 16px 16px;
            box-shadow: 1px 2px 5px rgb(216, 215, 215);
            position: relative;
          
            .new {
                width: 80px;
                height: 30px;
                @include flex-center;
                background-color: $tertiarycolor;
                color: darken($color: $tertiarycolor, $amount: 30%);
                font-weight: bold;
                position: absolute;
                top: 10%;
                right: 5%;

            }
        }

        .restaurant_description {
            display: flex;
            width: 100%;
            height: 100px;
          
        }
        img {
            height: 230px;
            width: 100%;
        }

        .restaurant_name  {
          margin: 0px;  
          border: 2px dotted yellowgreen;
          width: 80%;
    
        }
        .restaurant_heart {
            display: flex;
            justify-content: flex-end;
           width: 60px;
           position: relative;
            border: 2px dotted rgb(48, 205, 233);

            
        }
    }






}