body {
    margin: 0px;
    font-family: 'Roboto';

}

.heading_img {
    width: 100%;
    height: 220px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.container_menu {
    display: flex;
    border-radius: 25px 25px 0px 0px;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: $lightgray;
    margin-top: -25px;
    padding-bottom: 40px;

    /** bouton commander **/
    .btn {
        padding: 16px 40px;
        border-radius: 30px;
        @include flex-center;
        align-self: center;
        width: 117px;
        color: white;
        background: linear-gradient(0.47turn, $secondarycolor, $primarycolor);
        cursor: pointer;
        box-shadow: $box-shadow;
    }

    .btn:hover {
        box-shadow: $box-shadow-hover;
    }
    /** fin bouton commander **/

    .restaurant_heart {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        width: 60px;
        position: relative;
        transition: 0.5s;
    }

    /** mettre active ?  **/
    .fa-heart:hover {
        position: absolute;
        font-weight: 800;
        background-image: linear-gradient(0turn, $secondarycolor, $primarycolor);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 28px;
        transition-duration: 2s;
    }
}

.restaurant_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    h2 {
        font-family: 'Shrikhand';
        font-weight: 100;
        font-size: 28px;
    }
}

/** menu **/

.menu_categorie {
    padding: 16px;
    
    h3 {
        font-weight: 300;
    }

    .horizontal_line {
        flex-wrap: wrap;
        display: flex;
        border: 2px solid $tertiarycolor;
        width: 40px;
        margin-top: 5px;
    }
    
}


.menu_card {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $box-shadow;
    height: 66px;
    background: white;
    margin-bottom: 16px;
   animation: item_delay 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transform: scale(0);
}
  .delay_1 {
    animation-delay: 200ms;
  }
  .delay_2 {
    animation-delay: 300ms;
  }

  .delay_3 {
    animation-delay: 400ms;
  }

  .delay_4 {
    animation-delay: 500ms;
  }

@keyframes item_delay {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }

.card_content {
    padding: 5px 15px;
    align-self: center;
    overflow: hidden;

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
    }
}


.card_content h4,
.card_content p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding-bottom: 5px;
}

.card_price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    gap: 15px;
    margin-right: -67px;
    transition: all .5s ease-in-out;
}

.card_price span {
    font-weight: 700;
    padding-top: 10px;
    align-self: center;
}

.card_check {
    height: 66px;
    padding: 0 19px;
    background-color: $tertiarycolor;
    display: flex;
    align-items: center;
}

.fa-circle-check {
    align-self: center;
    
    transform: rotate(180deg);
    transition: all .7s ease-in-out;
    color: white;
    font-size: 28px;
}

/** mettre active ?  **/
.menu_card:hover .card_price {
    margin-right: 0;
}

.menu_card:hover .fa-circle-check {
    margin-right: 0;
    rotate: (180deg);
}