@media screen and (min-width: 992px) {

    /** fonctionnement **/

    .fonctionnement {
        ol {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
        }

        li {
            width: 27%;
        }
    }

    /** restaurant **/

    .restaurant {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fonctionnement {
        display: flex;
    }

    .restaurant_list {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        article {
            max-width: 49%;
        }
    }


    /** menu **/

    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center
    }

    .menu_categorie {
        width: 30%;
    }

    /** footer **/

    .footer {
        flex-direction: row;

        h3 {
            justify-content: center;
            display: flex;
        }
    }

    .footer_list {
        display: flex;
        justify-content: space-evenly;
    }

}