/** couleurs **/

$primarycolor : #9356DC;
$secondarycolor : #FF79DA;
$tertiarycolor : #99E2D0;
$lightgray : #f1eded;

$box-shadow: 1px 5px 10px rgba(49, 48, 48, 0.29);

$box-shadow-hover: 5px 5px 10px rgba(49, 48, 48, 0.5);